@charset "utf8";

* {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

header, footer{
    /* position: absolute; */
    background-color: #000;
    width: 100%;
    color: white;
}

header{
    height: 80px;
}

header h2{
    position: absolute;
    margin-top: 20px;
    left: 35%;
}

.nav-area{
    float: right;
    padding: 25px 20px;
    font-size: 14px;
}

.nav-area a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    font-size: 20px;
}

.nav-area a:hover{
    background: powderblue;
    color: black;
}

.flex-container{
    display: flex;
    background: powderblue;
}

.welcome-text{
    width: 500px;
    /* display: flex; */
    margin: 3% 3%;
    /* background-color: #000; */
    padding: 20px;
}

.welcome-text p{
    text-align: left;
    color: black;
    font-size: 18px;
}

.welcome-text h2{
    text-align: left;
    color: black;
    left: 2%;
    top: -40px;
}

.photo-class{
    /* width: 100px; */
    margin-top: 45px;
    margin-right: 50px;
    /* right: 5%; */
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 0px rgba(0,0,0,0);
}

.audio-video {
    background-color: powderblue;
}

.video-class {
    margin-left: 25%;
}

.audio-class {
    /* position: absolute; */
    top: 75%;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 10px;
    background-color: powderblue;
    color: black;
}

footer{
    height: 100px;
    bottom: 0;
}

footer h3{
    position: absolute;
    margin-top: 20px;
    margin-left: 40%;
}

footer p{
    position: absolute;
    left: 43%;
    margin-top: 50px;
}