.skills {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.skill-images {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.skill-images img {
    width: 20%;
    padding: 30px;
    cursor: pointer;
}

.skill-images span {
    display: none;
}

.skill-images img:hover + span {
    display: block;
    position: fixed;
	top: 170px; 
    right: 0px;
	text-align: center;
}

.skill-images img:hover + span img {
    width: 40%;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .skill-images img:hover + span img {
        width: 25%;
    }

    .skill-images img:hover + span {
        right: -80px;
        top: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .skill-images {
        width: 100%;
    }

    .skill-images img:hover + span {
        display: none;
    }

    .skill-images img {
        width: 30%;
    }
}
