@charset "utf8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    width: 1170px;
    margin: auto;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), 
    url('Images/homepage.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;

}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
    padding-right: 10px;
}

.nav-area li{
    display: inline-block;
}

.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
}

.nav-area li a:hover{
    background: #fff;
    color: #333;
}

.logo img{
    width: 150px;
    float: left;
    padding-left: 3%;
    padding-top: 3%;
}

.socials li{
    display: inline-block;
}

.socials li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 14px;
}

.socials li a:hover{
    background: #fff;
    color: #333;
}

.welcome-text{
    position: absolute;
    margin: 10% 25%;
    text-align: center;
}

.welcome-text h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.welcome-text p{
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.table-contents{
    border-collapse: collapse;
    margin: 25px 65px;
    font-size: 15px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-contents thead tr{
    background-color: orange;
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.table-contents th,
.table-contents td{
    padding: 12px 15px;
}

.table-contents tbody tr{
    border-bottom: 1px solid #dddddd;
    color: white;
}

.table-contents tbody tr:nth-of-type(odd) {
    background-color: white;
    color: black;
}

.table-contents tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    color: black;
}

.table-contents tbody tr:last-of-type {
    border-bottom: 2px solid orange;
}

.contact-us{
    position: absolute;
    text-align: center;
    background-color: orange;
    padding: 10px;
    width: 325px;
    height: 315px;
    margin: 15% 37%;
}

.contact-us h2{
    text-align: center;
    color: #fff;
    font-size: 40px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    height: 100%;
    text-align: center;
}

.details a{
    text-decoration: none;
}

.details button{
    font-size: 15px;
    padding: 5px;
    border: none;
}

.details button:hover{
    cursor: pointer;
    background: #333;
    color: #fff;
}

.details input {
    background-color: #fff;
    border: none;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 50%;
}


/* .background-image {
  background-image: url('Images/homepage.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw; 
  height: 100vh;
} 

header{
    text-align: center;
} */

/* #container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.gallery{
    float: left;
    width: 250px;
    padding: 50px;
    margin: 100px;
    border: 2px solid white;
    border-radius: 25px;
}

.gallery a{
    text-decoration: none;
}

.gallery img{
    width: 250px;
    height: 250px;
}

.gallery:hover{
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 10px -10px white;
    border: 2px solid white;
}

.description{
    text-align: center;
    padding: center;
    color: #fff;
    text-decoration: none;
} */

/* a:visited{
    color: brown;
}
a:hover{
    color: aquamarine;
} */