@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@function add-numbers($first-number, $second-number) {
    @return $first-number +$second-number
}

$primary-color: #05386b;
$tertiary-color: #edf5e1;
$overlay-color: rgba(255, 255, 255, 0.9);
$mono-font: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
$menu-speed: 0.75s;
$light-text-color: #444;
$black-color: #000;
$white-color: #fff;

@mixin flex($percentage: 100%) {
    display: flex;
    width: $percentage;
}

@mixin liSpanBeforeAfter {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: $black-color;
}

@mixin hamburgerDivBeforeAfter {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

@mixin interpolation($editable, $val) {
    border-#{$editable}: $val;
}

%placeholder1 {
    font-family: 'Poppins', sans-serif;
}

%placeholder2 {
    text-decoration: none;
}

body {
    @extend %placeholder1;
}

.nav-desk {
    height: 10vh;
    width: 95vw;
    margin: auto;
    margin-top: add-numbers(5px, 15px);

    .nav-logo {
        height: 100%;
        float: left;
    }
}

.nav-items {
    ul {
        li {
            span {
                a {
                    @extend %placeholder2;
                }
            }
        }
    }
}

.menu-wrap {
    position: fixed;
    top: add-numbers(10px, 10px);
    right: 20px;
    z-index: 1;
    display: none;

    .toggler {
        position: absolute;
        top: 0px;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 40px;
        height: 40px;
        opacity: 0;

        &:checked+.hamburger>div {
            transform: rotate(135deg);
        }
    }

    .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: add-numbers(15px, 15px);
        height: 30px;
        padding: 1rem;

        >div {
            position: relative;
            flex: none;
            width: 100%;
            height: 2px;
            z-index: 1;
            background: black;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;

            &:before {
                @include hamburgerDivBeforeAfter;
            }

            &:after {
                @include hamburgerDivBeforeAfter;
                top: 10px;
            }

        }
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        >div {
            background: $overlay-color;
            width: 200vw;
            height: 200vw;
            display: flex;
            flex: none;
            align-items: center;
            justify-content: center;
            transform: scale(0);
            transition: all 0.4s ease;

            >div {
                text-align: center;
                max-width: 90vw;
                max-height: 100vh;
                opacity: 0;
                transition: opacity 0.4s ease;

                >ul {
                    >li {
                        list-style: none;
                        color: $white-color;
                        font-size: 1.5rem;
                        padding: 1rem;

                        >a {
                            color: $primary-color;
                            @extend %placeholder2;
                            transition: color 0.4s ease;
                        }
                    }
                }
            }
        }
    }
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: $menu-speed;
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}


.title-tag {
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
}

#title-img {
    width: 30.5%;
    margin: 60px 0 0 60px;
}

#left-column {
    padding-left: 35px;
    float: left;
    width: 50%;
}

#logo {
    margin-top: 5px;
    height: 60%;
}

ul {
    float: right;
    list-style: none;
    padding: 10px 0px;

    li {
        display: inline;
        font-size: 16px;
        letter-spacing: 0.1;
        padding: 0px 15px;

        span {
            position: relative;
            cursor: pointer;

            &:before {
                @include liSpanBeforeAfter;
                left: -2.5px;
            }

            &:after {
                @include liSpanBeforeAfter;
                right: 2.5px;
                background: $black-color;
                transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
            }

            &:hover:before {
                background: $black-color;
                width: 100%;
                transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
            }

            &:hover:after {
                background: transparent;
                width: 100%;
                transition: 0s;
            }
        }
    }
}

#main-body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.title-des {
    font-size: 1.5rem;
}

.about-me {
    margin-top: 60px;
}

.contact-send-btn {
    padding: 10px 15px;
    background: $primary-color;
    color: white;
    border: 2px solid $primary-color;
    letter-spacing: 0.1;
    transition: all 1s;
    @include interpolation("radius", 10px);
    cursor: pointer;

    &:hover {
        background: white;
        color: $primary-color;
        border: 2px solid $primary-color;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    #left-column {
        padding-left: 80px;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        float: left;
        width: 50%;
    }

    #main-body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100vw;
    }

}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .nav-items {
        width: 0;
        height: 0;
        display: none;
    }

    #title-img {
        width: 70%;
        margin: 30px 0 0 30px;
    }

    #main-body {
        background: url('images/education.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }

    #left-column {
        padding-left: 15px;
        float: left;
        width: 100%;
    }

    #logo {
        display: none;
    }

    .title-tag {
        font-size: 1.5rem;
    }

    .title-des {
        padding-right: 30px;
        font-size: 1rem;
    }


    .about-me {
        margin-top: 0px;
    }

    .menu-wrap {
        display: block;
    }

    .menu ul li {
        display: block !important;
    }

    .menu-wrap .hamburger {
        z-index: 2;
    }

    .menu-wrap .toggler {
        z-index: 3;
    }
}


::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444;
    @include interpolation("radius", 50px);

    &:hover {
        background: #555;
    }
}